.main-about{
    margin: 0em 0em 5em 0em;
    font-size: 1em;
    text-align: justify;
    background: linear-gradient(135deg, #1d1d1d 0%, #000000 20%);
    border-radius: 70px;
    padding: 2em;
}

.div-image-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.title{
    font-size: 1.5em;
    font-weight: 100;
}

.div-image-about img{
    width: 80%;
    border-radius: 70px;
}
  
@media screen and (min-width: 700px){
    
    .main-about{
        margin: 0em 5em 5em 5em;
    }

    .main-about .content {
        display: flex;
        text-align: justify;
        align-items: center;
    }
    .div-image-about img{
        width: 50%;
        border-radius: 70px;
    }
}