.otherList{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: auto;
    border-radius: 10px;
    list-style: none;
    animation: showItens;
    animation-duration: 1s;
    border-bottom: 0.5px solid rgba(183, 183, 183, 0.186);
    border-right: 0.5px solid rgba(183, 183, 183, 0.186);
}

.otherList strong{
    color: rgb(183, 183, 183);
    font-size: 1.25rem;
    font-weight: 500;
    width: 25%;
    margin: 1%;
    
}

.otherList p{
    text-align: center;
    opacity: 0.8;
    color: rgb(183, 183, 183);
}