nav {
    text-align: center;
    flex: 1 1 100%;
    order: 2;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
    position: relative;
    top: 5px;
    justify-content: space-around;
    border-radius: 30px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 1em;
    
}

li:hover{
    transition-duration: 0.3s;
    opacity: 0.5;
}

a {
    border: 0px;
    position: relative;
    color: var(--colors-primary);
    text-decoration: none;
    transition: opacity 2s ease-in-out;
}

body{
    background: #000000;
    height: 100%;
    color: white;
    font-family: my-font;
    margin: 0 1em;
    font-weight: normal;
    text-align: center;
    min-height: 500px;
}

main {
    margin-top: 5em;
    font-size: 2em;
    transition: margin-left 4s ease-in-out 1s;
    
}

.name, .softwareDeveloper{
    opacity: 0.7;
}

.softwareDeveloper{
    border-radius: 50px;
    background-image: linear-gradient(135deg, rgb(133, 51, 153) 0%, rgb(35, 68, 95) 50%, rgba(64, 224, 208, 0.208) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-style: italic;
}

.about{
    margin: 5em;
    font-size: 0.5em;
    text-align: justify;
    background: linear-gradient(135deg, #1d1d1d 0%, #000000 30%);
    border-radius: 70px;
    padding: 2em;
}

.title{
    font-size: 1.5em;
    font-weight: 100;
}


@media screen and (min-width: 700px){
    header {
        margin-top: 0px;
    }
    nav{
        order: 0;
        flex-basis: initial;
    }
    .about{
        margin: 3em 10em 3em 10em;
    }
    body{
        min-height: 600px;
    }
}

@media screen and (min-width: 900px){
    .about{
        margin: 4em 15em 4em 15em;
    }
}

@media screen and (min-width: 1100px){
    .about{
        margin: 5em 25em 5em 25em;
    }
}