.article{
    margin: 1em 3em 1em 3em;
    width: 50%;
    border-radius: 40px;
    display: contents; 
}

.article h6{
    margin-bottom: 1%;
    opacity: 0.8;
    font-size: large;
}

.article p{
    font-size: 0.5em;
    text-align: center;
    max-width: 90%;
    margin: 0 1em 0 1em;
    opacity: 0.8;
}

.article img{
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

.articles {
    margin: -5em 4em 0 4em;
}

@media screen and (min-width:800px) {
    .articles {
        margin: -5em 14em 0 14em;
    }
}