nav {
  text-align: center;
  flex: 1 1 100%;
  order: 2;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
  position: relative;
  top: 5px;
  justify-content: space-around;
  border-radius: 30px;
}

header li {
  display: list-item;
  text-align: -webkit-match-parent;
  width: 15vh;
  height: 4vh;
  margin: 5% 0;
  border-radius: 15px;
}

a {
  border: 0px;
  position: relative;
  color: var(--colors-primary);
  text-decoration: none;
  transition: opacity 2s ease-in-out;
}

@media screen and (min-width: 600px) {
  header ul li:hover{
    transition-duration: 0.7s;
    background: #2a2a2a;
  }
}

@media screen and (min-width: 700px){
  header {
      margin-top: 0px;
      font-size: larger;
  }
  nav{
      order: 0;
      flex-basis: initial;
  }
}

