footer{
  bottom: 0;
  left: 0;
  right: 0;
  position: static;
}

footer p {
  font-size: smaller;
  margin: 0 0 10px 0;
}

footer nav {
  text-align: center;
}

footer img{
  width: 35px;
  height: auto;
  opacity: 0.8;
}

footer nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
  position: relative;
  justify-content: space-around;
  border-radius: 30px;
}

footer nav li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin: 1em;
  
}

footer nav a {
  position: relative;
}

@media screen and (min-width: 600px) {
  footer nav li:hover{
    transition-duration: 0.3s;
    opacity: 0.5;
  }  
}
