body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  height: 100%;
  color: white;
  margin: 0 1em;
  font-weight: normal;
  text-align: center;
  min-height: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-top: 5em;
  font-size: 2em;
  transition: margin-left 4s ease-in-out 1s;
  
}

@media screen and (min-width: 700px){
  body{
      min-height: 600px;
  }
}
